In [1]:
import pandas as pd

In [9]:
wine_csv="wine_raw_data.csv"
wine_df=pd.read_csv(wine_csv,)
wine_gb=wine_df.groupby("variety")
wine_gb
wine_gb["country"].count()

variety
Abouriou                     3
Agiorgitiko                 63
Aglianico                  359
Aidani                       1
Airen                        3
Albana                      23
Albanello                    1
Albariño                   477
Albarossa                    2
Aleatico                     5
Alfrocheiro                 16
Alicante                     5
Alicante Bouschet           50
Aligoté                     30
Alsace white blend          51
Altesse                      8
Alvarelhão                   2
Alvarinho                  137
Alvarinho-Chardonnay         5
Ansonica                     2
Antão Vaz                   17
Apple                        2
Aragonez                    10
Aragonês                    10
Argaman                      3
Arinto                      77
Arneis                      86
Asprinio                     3
Assyrtico                   43
Assyrtiko                   17
                          ...
Viognier-Marsanne            3
Viognier-Roussanne           7
Viognier-Valdiguié           1
Viosinho                     5
Vital                        1
Vitovska                     3
Viura                      107
Viura-Chardonnay            13
Viura-Verdejo                2
Vranac                       0
Vranec                       4
Weissburgunder              47
Welschriesling              25
White Blend               2354
White Port                   2
White Riesling              13
Xarel-lo                    21
Xinisteri                    1
Xinomavro                   33
Xynisteri                    2
Yapincak                     2
Zelen                        1
Zibibbo                     31
Zierfandler                 16
Zierfandler-Rotgipfler       5
Zinfandel                 2714
Zlahtina                     2
Zweigelt                   209
Çalkarası                    2
Žilavka                      1
Name: country, Length: 707, dtype: int64

In [14]:
wine_country=wine_df.groupby("country")
wine_country["variety"].count()

country
Argentina                  3800
Armenia                       2
Australia                  2329
Austria                    3345
Bosnia and Herzegovina        2
Brazil                       52
Bulgaria                    141
Canada                      257
Chile                      4471
China                         1
Croatia                      73
Cyprus                       11
Czech Republic               12
Egypt                         1
England                      74
France                    22093
Georgia                      86
Germany                    2165
Greece                      466
Hungary                     146
India                         9
Israel                      505
Italy                     19540
Lebanon                      35
Luxembourg                    6
Macedonia                    12
Mexico                       70
Moldova                      59
Morocco                      28
New Zealand                1419
Peru                         16
Portugal                   5691
Romania                     120
Serbia                       12
Slovakia                      1
Slovenia                     87
South Africa               1401
Spain                      6645
Switzerland                   7
Turkey                       90
US                        54504
Ukraine                      14
Uruguay                     109
Name: variety, dtype: int64

In [23]:
for wine in wine_df:
    print(wine[['title']])
next

TypeError: string indices must be integers